name = "KAPDQMC"
uuid = "8bb092c6-e690-4b46-8e66-80e689fed5c7"
authors = ["KAP424 <kap.4116@gmail.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
